{% extends 'base.html.twig' %}

{% block title %}
    {{parent()}} - Register
{% endblock %}

{% block body %}
    {% for message in app.flashes('success') %}
        <div class="alert alert-success">
            {{ message }}
        </div>
    {% endfor %}
    <div class="container h-100">
        <div class="col-6 bg-white rounded my-3 p-5 offset-3">
            <h1>Register</h1>
            {{ form(form) }}
            <a href="{{ path('app_login') }}" class="btn btn-light btn-lg active float-right" role="button" aria-pressed="true">Login</a>
        </div>
    </div>
{% endblock %}
